<mat-card class="error-card">
    <mat-card-header class="align-center error-header">
        <h1> Oops Something went wrong! </h1>
    </mat-card-header>
    <mat-card-content class="align-center">
        <mat-list>
            <mat-list-item> <mat-card-subtitle> <h2> Why did I get this page? </h2>  </mat-card-subtitle></mat-list-item> 
            <mat-list-item> <mat-card-subtitle>  This might be a broken or outdated link  </mat-card-subtitle></mat-list-item> <mat-divider></mat-divider>
            <mat-list-item> <mat-card-subtitle>  The page may have expired or removed   </mat-card-subtitle></mat-list-item> <mat-divider></mat-divider>
            <mat-list-item> <mat-card-subtitle>  There could be a typo in address   </mat-card-subtitle></mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>